:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: "AlexBrush";
  src: local("AlexBrush"),url("./assets/fonts/AlexBrush-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "RougeScript";
  src: local("RougeScript"),url("./assets/fonts/RougeScript-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Swanky";
  src: local("Swanky"),url("./assets/fonts/SwankyandMooMoo-Regular.ttf") format("truetype");
}